@model TableViewModel
@using Web.Customer.Data
@{
    ViewData["Title"] = "IndexAsync";
}


<h1>Index</h1>
@foreach(var customrole in ViewBag.table)
 {
    <h2>@customrole.name </h2>
    <h1>@customrole.status</h1>
    // This might be some property you need to display
 }